{% extends 'base.html' %}

{% block title %}TalentForge{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
    <div class="text-center">
        <h1 style="font-family: 'Crimson Pro', serif;">Find Your Dream Job or Hire Top Talent Faster.</h1>
        <a type="button" class="btn btn-primary" href="{% url 'signup' user_type=1 %}">Job seeker</a>
        <a type="button" class="btn btn-secondary" href="{% url 'signup' user_type=2 %}">Recruiter</a>
    </div>
</div>
{% endblock %}