{% extends 'base.html' %}
{% block title %} MFA - TalentForge {% endblock %}

{% block content %}

<div class="card mx-auto" >
    <div class="card-body text-center">
        <h4>
            Enable 2FA with Authenticator App.

        </h4>
        <div> 
            <img src="{{ qrcode }}" alt="{{ img_path }}">
            <form method="POST" action="{% url 'verify_mfa' %}" class="form text-center">
                {% csrf_token %}
                <div class="form-group text-">
                    <div class="mx-auto" style="width: 30%;">
                        <input type="text" id="otp_code" name="otp_code" maxlength="6" required 
                                class="form-control" placeholder="Enter your OTP code">
                    </div>
                </div>
                <input type="hidden" name="user_id" value="{{ user_id_mfa }}">
                <button class="btn btn-primary" type="submit">Verify</button>
            </form>        
        </div>
    </div>
</div>

{% endblock %}
